<div id="<%= dom_id student_group %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= student_group.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">School:</strong>
    <%= student_group.school&.name || "Not assigned" %>
  </p>
</div>
